@import "src/styles/colors.scss";

.Panel{
  color: white;
  font-family: "JetBrains Mono", serif;
  background-color: $dgray_panel_color;

  display: flex;
  flex-direction: column;
  width: 350px;
}