@import "src/styles/colors.scss";

.Panel {
  font-size        : 1.25rem;
  display          : flex;
  flex-direction   : column;
  min-width        : 350px;
  padding          : 1.25rem 0 3.125rem;
  color            : var(--COLOR_white);
  background-color : var(--COLOR_dark);

  & > * + * {
    margin-top : 1.25rem;
  }
}
