.PanelHeader {
  display         : flex;
  align-items     : center;
  justify-content : space-between;
  margin          : 0 1.25rem;

  & > svg {

  }

  & > div {
    cursor : pointer;

    &:hover {
      transform : scale(1.2)
    }
  }
}
