.PanelHeader {
  display         : flex;
  align-items     : center;
  justify-content : space-between;
  padding         : 0 1.25rem;

  & > svg {
    cursor : pointer;
  }

  & > svg:last-child {
    padding       : .1rem .3rem;
    //transition    : background, .8s var(--test1);
    border-radius : .5rem;
    background    : rgba(255, 255, 255, 0);
    fill          : white;

    &:hover {
      background : rgba(255, 255, 255, 0.2);
    }
  }
}
