.table {
  border-spacing : 0;
  border         : 1px solid black;

  .thead {
    overflow-x : hidden;
    overflow-y : auto;
  }

  .tbody {
    overflow-x : hidden;
    overflow-y : scroll;
    height     : 250px;
  }

  .tr {
    border-bottom : 1px solid black;

    :last-child {
      .td {
        border-bottom : 0;
      }
    }
  }

  .th,
  .td {
    position     : relative;
    margin       : 0;
    padding      : 0.5rem;

    border-right : 1px solid black;

    :last-child {
      border-right : 0;
    }

    .resizer {
      position     : absolute;
      z-index      : 1;
      top          : 0;
      right        : 0;
      width        : 10px;
      height       : 100%;
      background   : blue;
      touch-action : none;

      &.isResizing {
        background : red;
      }
    }
  }
}
