@import "reset";
@import "colors";
@import '../assets/fonts/icomoon/icomoon_font';
@import '../assets/fonts/rubik/rubik_font';

#root {
  font-family      : Rubik, serif;
  display          : flex;
  min-height       : 100vh;
  color            : var(--COLOR_dark-gray-text);
  background-color : var(--COLOR_background);
}
