.tableMainContainer {
  display        : flex;
  overflow       : hidden;
  flex-direction : column;
  flex-grow      : 1;
  height         : 100%;
  border-radius  : 1rem;
}

.utils {
  display     : flex;
  align-items : center;
  padding     : .5rem 1rem;
  color       : var(--COLOR_white);
  background  : var(--COLOR_dark);
  gap         : 10px;

  //.search {
  //  //padding       : 0.2rem .8rem;
  //  border-radius : 10px;
  //  background    : var(--COLOR_gray-background);
  //  color         : var(--COLOR_dark-gray-text);
  //}
}

.tableSizableContainer {
  overflow   : auto;
  width      : 100%;
  text-align : center;

  table {
    overflow        : hidden;
    //table-layout    : fixed;
    width           : 100%;
    border-spacing  : 0;
    border-collapse : collapse;
    border-radius   : 0 0 1rem 1rem;
  }

  thead {
    position   : sticky;
    z-index    : 2;
    top        : 0;
    color      : var(--COLOR_white);
    background : var(--COLOR_something-unclear-and-shorts-rimmed);
    background : var(--COLOR_dark);

    th {
      padding : .5rem 1rem;
    }
  }

  tbody {
    tr {
      transition : background-color, transform, 100ms ease;
      background : var(--COLOR_white);

      &:nth-child(even) {
        background : var(--COLOR_gray-background);
      }

      &:hover:not(.selected) {
        background : var(--COLOR_gray-line);
        filter     : brightness(1.1) contrast(1.1);
      }

      &.selected {
        color      : white;
        background : var(--COLOR_blue);
      }
    }

    td {
      padding : 6px;

      &:not(:last-child) {
        position : relative;

        &:after {
          position     : absolute;
          z-index      : 1;
          top          : 10px;
          right        : -1px;
          bottom       : 10px;
          width        : 2px;
          content      : '';
          border-right : 1px dashed var(--COLOR_gray-pale-punctuated);
        }
      }
    }
  }
}