.grid {
  overflow      : hidden;
  height        : 100%;
  border-radius : 1.25rem;
  //box-shadow    : 0 0 1rem rgba(0, 0, 0, 15%);

  &, * {
    font-size : 1rem !important;
  }

  //tbody td {
  //  padding : .5rem 1rem !important;
  //}

  //tr:nth-child(even) {
  //  td {
  //    background : var(--COLOR_gray-background);
  //  }
  //}
}

%paid {
  font-weight   : 500;

  text-overflow: ellipsis;
  overflow : hidden;

  padding       : 0.3rem 15%;
  text-align    : center;
  border-radius : 10px;
}

.yes {
  @extend %paid;
  color      : #009132;
  background : #E1FFE0;
}

.no {
  @extend %paid;
  font-weight : 700;
  color       : #DF3826;
  background  : #FFDBDD;
}
