.PanelButton {
  height: 60px;
  display: flex;
  align-items: center;
  font-size: 20px;
  padding: 0 20px;

  & > i,
  i::before {
    font-size: 40px;
    line-height: 40px;
    height: 40px;
    width: 40px;
  }

  & > span {
    margin-left: 10px;
  }
}

.active {
  background-color: var(--lblue_color);
}