.PanelButton {
  font-size   : 1.25rem;
  display     : flex;
  align-items : center;
  height      : 3.75rem;
  padding     : 0 1.25rem;

  i {
    font-size   : 40px;
    line-height : 40px;
    width       : 40px;
    height      : 40px;
  }

  span {
    margin-left : 10px;
  }

  &:not(.active) {
    //background-color: ;
  }
}

.active {
  background-color : var(--COLOR_blue);
}
