.ErrorPage {
  font-size      : 100px;
  display        : flex;
  flex-direction : column;
  margin         : 0 auto;
  padding        : 5vh;
  line-height: 100%;
  align-items: center;

  & > h1 {
    font-size : 100px;
  }

  & > h2 {
    font-size : 65px;
  }
}
